html {
	background-color: #265086;
}
 
body {
	background-color: LightSalmon;
	width: 600px;
	border: 6px solid #05386B;
	margin: 50px auto;
	padding: 30px 20px;
}

h1 {
	font-size: 60px;
	text-align: center;
	margin: auto;
	padding: 20px 0;
	color: #05386B;
	text-shadow: 3px 3px 1px grey;
	font-family: "Lucida Console", "Courier New", monospace;
}

.question {
 background-color: #45B39D;
 color: white;
 margin: auto;
 padding: 40px;
	
}
.block {
	background-color: #CB4335;
	text-align: center;
}
